<div class="container">
	<h1>Hello.  Please search for a movie</h1>
	<form action ="/search_result" method="POST">
		<label for="movie">Search for:</label>
		<input id="movie" name="movie" type="text">
		<input name="commit" type="submit" value="search">
	</form>
</div>
		
