<html>
	<head>
		<title>Movie Poster</title>
	</head>

	<body>
		<h1>Movie Information</h1>
		<br>
		<h3><%= "#{@results["Title"]}"%></h3>
	
		<img src=<%= "#{@results["Poster"]}"%>>

		<br /><a href="/">New Search</a></body></html>

	</body>
</html>